body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: #F3C6BD;
    padding: 44px 0 71px;
}

.container{
   max-width: 1140px;
   margin: 0 auto; 
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_start{
    justify-content: start;
}

.flex_opportunities{
    gap: 30px;
}

.logo img{
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    text-align: right;
    color: #2B292D;
    text-decoration: none;
}

.header_ul{
    margin-right: 75px;
}

.header_link:hover{
    text-decoration: underline;
}

.header_li:first-of-type{
    margin-right: 30px;
}

.header_link:hover{
    font-weight: bold;
}

.button{
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 2px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
}

.header_button:hover{
    cursor: pointer;
    transition: 1s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #1127ed;
}

.inbox{
    background-color: rgba(252, 240, 227, 40%);
    padding: 115px 0 116px;
}

.inbox_communication{
    background-color: white;
    padding: 115px 0 116px;
}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background: white;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 4px solid #0185D0;
}

.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    padding-bottom: 26px;
}

.inbox_text-bold{
    font-weight: 700;
}

.inbox_img{
    margin-right: 11px;
}

.inbox_name{
    font-weight: 700;
    line-height: 22px;
    color: #2B292D;
}

.inbox_position{
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.info_pretitle{
    font-weight: bold;
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 26px;
}

.info_pretitle-orange{
    color: #F1592B;
}

.info_pretitle-blue{
    color: #0189D1;;
}

.info_title{
    max-width: 462px;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 26px;
}

.info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 44px;
}

.info_oppotrunities{
    max-width: 360px;
    padding: 105px 0 105px;
}

.info_oppotrunities-about{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
}


.info_oppotrunities-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-decoration-line: underline;
    color: #3040C4;
}

.opportunities_flex{
    gap: 30px;
}

.inbox_description{
    background-color: #F4F5F7;
    padding: 77px 0 76px;
}

.description{
    max-width: 555px;
    margin-right: 29px;
}

.description_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.description_text{
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.inbox_partner{
    padding: 30px 0 106px;
    max-width: 1139.77px;
}

.partners_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inbox_engage{
   background-color: rgba(0%, 63%, 78%, 7%);
}

.engage_pretitle{
    max-width: 167px;
    margin: 0 auto;
    padding: 108px 0 24px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #2B292D;
}

.engage_title{
    max-width: 555px;
    margin: 0 auto;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
}

.engage_text{
    max-width: 555px;
    margin: 0 auto;
    padding: 30px 0 34px;
    font-size: 24px;
    text-align: center;
    color: #2B292D;
}

.engage_button{
    max-width: 338px;
    margin: 0 auto;
    text-align: center;
}

.button-white{
    width: 158px;
    height: 48px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    background-blend-mode: overlay, normal;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 13px;
    margin-left: 10px;
}

.categories{
    padding: 111px 0 110px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: center;
}

.categories_item{
    width: 262px;
    height: 300px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
}

.categories_item:hover{
    background: #3141C5;
    box-shadow: 0px 13px 18px -8px rgba(0, 0, 0, 0.15), 0px 11px 55px 10px rgba(0, 0, 0, 0.07);
    transition: 500ms;
}

.categories_item-1{
    max-width: 138px;
    text-align: center;
    padding: 22px 62px;
}

.categories_item-2{
    max-width: 142px;
    text-align: center;
    padding: 22px 60px;
}

.categories_item-3{
    max-width: 160px;
    text-align: center;
    padding: 22px 51px;
}

.categories_item-4{
    max-width: 119px;
    text-align: center;
    padding: 22px 72px;
}

.categories_text{
    max-width: 212px;
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    text-align: center;
    color: #2B292D;
    padding: 0 25px 33px;
}

.categories_text:hover{
    color: #FFFFFF;
    transition: 500ms;
}

.inbox_surface{
   background-color:  #F2F2F2;
}

.surface_title{
    max-width: 588px;
    margin: 0 auto;
    padding: 90px 0 26px;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
}

.surface_text{
    max-width: 554px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #172342;
}

.surface_pics{
    padding: 96.78px 0 91px;
}

.surface_grid{
    display: grid;
    grid-template-columns: repeat(3, 356.65px);
    grid-template-rows: repeat(3, 207.92px);
    column-gap: 49.52px;
    row-gap: 41.72px;
    justify-content: center;
}

.item:nth-child(4), .item:nth-child(3){
    grid-row: span 2;
}